# ==============================================================================
# Vagrant & VirtualBox
# ==============================================================================
.vagrant/
*.vdi
*.vbox
*.vbox-prev
VirtualBox VMs/

# ==============================================================================
# Logs
# ==============================================================================
*.log
*.swp
*.swo
*~
.DS_Store
.directory
.idea/
.vscode/

# ==============================================================================
# GNS3
# ==============================================================================

*.pcap
*.pcapng
*.pid
*.sock

# ==============================================================================
# Exceptions
# ==============================================================================

!P1/*.gns3project
!P2/*.gns3project
!P3/*.gns3project

!P1/*
!P2/*
!P3/*P2/badass-p2-final.zip
